@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Bebas Neue');
		
		
	audio {
    width: 290px;
    height: 25px;
	margin-top: 0px;
	margin-left: -10px;
	margin-bottom: 20px;
		
		
}
	#floater-min {
	position: fixed;
    right: 2%;
    height: 50px;
    width: 50px;
    z-index: 99;
	bottom:1.5%;
}
#floater-min-button {
	position: fixed;
    right: 2%;
    height: 50px;
    width: 50px;
    z-index: 99;
	bottom:1.5%;
	display: none;
}
	#floater-max {
	position: fixed;
    right: 1%;
    height: 200px;
    width: 420px;
    z-index: 98;
	background-color:#f1f3f4;
	bottom:1%;
	border: 1px solid black;
    display: none;
	background-image:url("assets/happi.jpg");
		
		
}
		#floater-max p {
			font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
			
			font-family: "Abel";
			font-size: 16px;
			border-bottom: 0px;
			/*padding-left: 21px;*/
			margin-bottom: 0px;color: black;
		}
		#floater-max img {
			float: left;
			padding-right: 10px;
		
		}